@tailwind base;
@tailwind components;
@tailwind utilities;

/* hamburger */
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  /* stroke-dashoffset: -20px; */
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}
/* end of hamburger styles */

/* mobile nav styles */
.navbar {
  position: absolute;
  top: 10%;
  left: 0;
  height: min-content;
  width: 100%;
  visibility: hidden;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in, visibility 0.5s ease-in;
  /* flex-shrink: 1;
  flex-grow: 1; */
}
.navbar-active {
  transform: translateY(0);
  visibility: visible;
}
@media (min-width: 80rem) {
  .navbar {
    position: static;
    visibility: visible;
    transform: translateY(0);
  }
  /* dropdown menu styling for widerscreans */
  .dropdown-menu {
    position: absolute;
    top: 2.35rem;
    left: -2rem;
    width: max-content;
    /* max-height: min-content; */
    padding: 1em;
    border: 2px solid red;
    visibility: hidden;
    opacity: 0;
    transform: translateY(1rem);
    transition: all 0.3s ease-in-out;
  }
  .dropdown:hover > .dropdown-menu {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

/* mobile dropdown styles */
.dropdown-menu.active {
  transform: translateY(0);
}
.nested-dropdown-menu.active {
  transform: translateY(0);
}
